[Unit]
Description=Snapshot Service
After=scspat-jack.service
Requires=scspat-jack.service


[Service]
Type=idle
PrivateTmp=true
ExecStartPre=/bin/sleep 2
WorkingDirectory=/home/anwaldt/SOUND/SC_Spat/Kivy
ExecStart=/bin/python3 SourceViewer.py

[Install]
WantedBy=default.target
