[Unit]
Description=SuperCollider mixer and encoder
After=sound.target local-fs.target scspat-jack.service

[Install]
WantedBy=default.target

[Service]
Type=idle
PrivateTmp=true
ExecStartPre=/bin/sleep 2
WorkingDirectory=/home/anwaldt/SOUND/SC_Spat/SC
Environment="QT_QPA_PLATFORM=minimal"
ExecStart=/usr/local/bin/sclang SCSpat_SERVER.sc
LimitRTPRIO=95
