[Unit]
Description=Jack audio server
After=sound.target local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PrivateTmp=true
#Environment="JACK_NO_AUDIO_RESERVATION=1"
ExecStart=/usr/bin/jackd -S -P 95 -a a -d alsa -d hw:KTUSB -p 256
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
