[Unit]
Description=Snapshot Service
After=scspat-jack.service
Requires=scspat-jack.service


[Service]
Type=idle
PrivateTmp=true
ExecStartPre=/bin/sleep 2
WorkingDirectory=/home/anwaldt/SOUND/SC_Spat/config
ExecStart=/usr/bin/aj-snapshot -x -j -d panoramix_decoder.snap

[Install]
WantedBy=default.target
